<!-- a simple HTML file for creating a new patient!! ! -->
{% extends "base.html" %}

{% block title %}
Create a New Patient
{% endblock title %}

{% block main %}
<div>
    <h1>Create a new patient</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock main %}
