<!-- a simple HTML file for deleting a patient!! ! -->
{% extends "base.html" %}

{% block title %}
Delete Patient
{% endblock title %}

{% block main %}
<h1>Delete Patient</h1>
<p>Are you sure you want to delete "{{ patient.name }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit">Confirm Delete</button>
</form>
<a href="{% url 'show_patients' %}">Cancel</a>
{% endblock main %}
