<!-- an HTML file for a detail patient page
    Press a corresponding buttons for CRUD functionality for patient info
    Press "Create a new treatment" for C functionality for medical history
    !! ! -->
{% extends "base.html" %}

{% block title %}
{{ patient.name }}
{% endblock title %}

{% block main %}
<div>
    <h1>{{ patient.name }}</h1>
    <p><strong>Age:</strong> {{ patient.age }}</p>
    <p><strong>State:</strong> {{ patient.state }}</p>
    <p><strong>Phone Number:</strong> {{ patient.phone_number }}</p>
    <h2>Treatments</h2>
    <p><a href="{% url 'create_treatment' patient_id=patient.id %}">Create a new treatment</a></p>
    {% if treatments.all %}
    <table>
        <thead>
            <tr>
                <th>Treatment Name</th>
                <th>Doctor Name</th>
                <th>Hospital Name</th>
                <th>Cost</th>
                <th>Medication</th>
                <th>Treatment Date</th>
            </tr>
        </thead>
        <tbody>
            {% for t in treatments %}
            <tr>
                <td>{{ t.treatment_name }}</td>
                <td>{{ t.doctor_name }}</td>
                <td>{{ t.hospital_name }}</td>
                <td>{{ t.cost }}</td>
                <td>{{ t.medication }}</td>
                <td>{{ t.treatment_date }}</td>
                <td>
                    <form method="post" action="{% url 'delete_treatment' id=t.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This patient has no treatment</p>
    {% endif %}
    <div>
        <a href="{% url 'update_patient' id=patient.id %}">Update Patient</a>
        <a href="{% url 'delete_patient' id=patient.id %}">Delete Patient</a>
    </div>
</div>
{% endblock main %}
