<!-- a simple HTML file for updating patient info !! ! -->
{% extends "base.html" %}

{% block title %}
Update Patient Info
{% endblock title %}

{% block main %}
<h1>Update Patient Information</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button>Update</button>
</form>
{% endblock main %}
