<!-- a base HTML file for other templates
    includes a nav bar
    !! ! -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <header>
        {% block header %}
        <nav>
            <h3>BeyondMD!</h3>
            <a href="{% url 'show_patients' %}">Home</a>
            <a href="{% url 'create_patient' %}">Create New Patient</a>
            <a href="{% url 'random_article' %}">HealthCare.gov Articles</a>
        </nav>
        {% endblock header%}
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>

</body>
</html>
